body {
  font-family: Arial, Helvetica, sans-serif;margin:0;
}

a {color: #1e62d0;text-decoration: none;}
a:hover {color: #1e62d0;text-decoration: none;}
a:active {color: #1e62d0;text-decoration: none;}
a:visited {color:#1e62d0;text-decoration: none;}
a:active {color: #1e62d0;text-decoration: none;}
/* The grid container */

.kop {
  grid-column: 1 / span 5;
  background-color: #FFD00F;
  padding:0 0 0 15px;margin:0;
}


.grid-container {
  display: grid;
  grid-template-columns: 10% 35% 35% 20% auto;
  background-color: white;
}

.radio {padding: 20px 0 20px 0;margin-top: 20px;}
#startBt{margin-top: 20px;margin-left:5%;width:50%;}
label {font-size: 100px;color:#082E6B;border:1px solid black;}

.hoofd{border:1px solid black;

    }

#uitslag {font-size: 500%;color:lightgreen;}
#resultaat{margin: 120px 0 0 25px;}

.score{margin-top: 100px;}

input[type=radio] {margin-left: 20px;}
input[type=text] {width: 100%;color:#082E6B;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #1e62d0;
    border-radius: 4px;
    font-size: 75px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);}
.som{margin-top:100px; margin-bottom: 50px;}

button {padding: 15px; border:1px solid blue; font-size: 150%;width:100%;
  background-color:#1e62d0;color:#FFFFFF;font-weight: bold;border: 1px solid #082E6B;border-radius:5px;
}
button:hover{cursor:pointer;background-color:#082E6B; }
.score{font-size: 35px;}
.fa-info-circle {margin-left: 5%;cursor:pointer;}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltiptext {
     visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
